body {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

.promo {
	color: #000;
}

footer {
	background: #ff0;
}

.btn_cta {
	display: block;
	padding: 20px 8px;
	background: #ff4600;
	font-size: 16px;
}